[submodule "mult-tree"]
	path = mult-tree
	url = git@github.com:AhmadHouraniah/mult-tree.git
	branch = master
[submodule "OpenLane"]
	path = OpenLane
	url = https://github.com/efabless/openlane.git
[submodule "implementation/--force"]
	path = implementation/--force
	url = git@github.com:AhmadHouraniah/FMDSP_implementation.git
[submodule "implementation/FMDSP_implementation"]
	path = implementation/FMDSP_implementation
	url = git@github.com:AhmadHouraniah/FMDSP_implementation.git
